empathy.desktop
empathy.desktop.in
org.gnome.Empathy.gschema.valid
gschemas.compiled
im.telepathy1.Client.Empathy.Chat.service
im.telepathy1.Client.Empathy.Call.service
im.telepathy1.Client.Empathy.Auth.service
im.telepathy1.Client.Empathy.FileTransfer.service
icons/local-copy/*
