empathy
empathy-accounts
empathy-debugger
empathy-av
empathy-auth-client
empathy-call
empathy-chat
empathy-chat-resources.c
empathy-chat-resources.h
src-marshal.*
chat-manager-interface.c
chat-manager-interface.h
